//
// @name Video Player
// @description <span class="label label-theme">JavaScript dependent</span> Video player.
// @author Sebastian Thulin
//
// @page Special/VideoPlayer
//
// @markup
// <div class="player ratio-16-9" style="background-image:url('https://unsplash.it/800/800/?image=890');">
//     <a href="#video-player-GQxqaoJNx_E" data-video-id="GQxqaoJNx_E" data-unavailable="Video playback unavailable, activate enable JavaScript to enable."></a>
// </div>
//
// <div class="player ratio-16-9" style="background-image:url('https://unsplash.it/800/800/?image=892');">
//     <a href="#video-player-101935278" data-video-id="101935278" data-unavailable="Video playback unavailable, activate enable JavaScript to enable."></a>
// </div>
//
.player {
    background-size: cover;
    background-position: center;

    @include material-radius;
    @include material-shadow;

    a {
        display: block;
        text-align: center;
        @include center();
        font-size: 6em;
        opacity: .7;
        transition: opacity 200ms ease;
        color: #fff;
        line-height: 1;

        &::before {
            display: inline-block;
            @include pricon($pricon-play-o);
        }

        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }

    iframe {
        @include cover();
    }

    &.is-playing {
        a {
            opacity: 0;
        }
    }
}

.no-js .player a {
    opacity: 1;

    &::before {
        @include pricon($pricon-forbidden);
        text-shadow: 0 0 40px rgba(#000, .8);
    }

    &::after {
        display: block;
        content: attr(data-unavailable);
        font-size: .2em;
        line-height: 1.3;
        text-shadow: 0 0 10px rgba(#000, 1);
    }
}

.player + .player {
    margin-top: 15px;
}
