//
// @name Container
// @description A container with a maximum width of <code>$screen-lg-max</code>
//
// @page Layout/Container
//
// @markup
// <div class="container"></div>
//

.container:not(.container-fullwidth) {
    margin: 0 auto;
    max-width: 1280px;

    padding: 0 24px;

    @include mq(md) {
        padding: 0 40px;
    }
}

.container.container-fullwidth {
    @media #{$screen-sm} {
        margin: 0 20px;
    }

    @media #{$screen-xs} {
        margin: 0 10px;
    }
}

