.share {

}

.share-social {
    a {
        color: $gray;
    }
}

.share-social-icon-lg {
    .fa,
    .pricon {
        font-size: 2em;
    }
}

.share-no-labels {
    a {
        span {
            @extend .sr-only;
        }
    }
}

.share-horizontal {
    > li {
        display: inline-block;

        & + li {
            margin-left: 15px;
        }
    }

    li + li {
        margin-left: 5px;
    }
}

.share-social-facebook:hover {
    color: #3B5998;
}

.share-social-twitter:hover {
    color: #55ACEE;
}

.share-social-linkedin:hover {
    color: #1583BB;
}
