//
// @name Dropdown
// @description Dropdown menu
//
// @page Navigation/Dropdown
//
// @markup
// <span class="dropdown">
//     <span class="btn btn-primary dropdown-toggle">Actions</span>
//     <ul class="dropdown-menu">
//         <li><a href="#">Open</a></li>
//         <li><a href="#">Delete</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Add new</a></li>
//     </ul>
// </span>
//
.dropdown {
    position: relative;
    display: inline-block;

    &:hover {
        .dropdown-menu {
            display: block;
        }
    }

    .dropdown-toggle {
        position: relative;
        z-index: $level-4;

        &::after {
            display: inline-block;
            content: '';
            @include hbg-icon($icon-caret-down);
            margin-left: 7px;
        }

        &:focus + .dropdown-menu {
            display: block;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        bottom: 0;
        z-index: $level-3;
        transform: translateY(100%);
        min-width: 150px;
        padding: 5px 0;
        background: #fff;
        border: 1px solid $creamy-darker;
        font-size: .9em;
        text-align: left;

        li {
            a {
                display: block;
                padding: 3px 15px;
                color: $base-font-color;

                &:hover {
                    background-color: $creamy;
                    text-decoration: none;
                }
            }
        }

        .divider {
            height: 1px;
            background-color: $creamy-darker;
            margin: 5px 0;
        }
    }
}
