//
// @name Slider
// @description <span class="label label-theme">JavaScript dependent</span> Sliding content.
// @author Kristoffer Svanmark
//
// @page Special/Slider
//
// @state .slider-nav-hover - Only show slider nav buttons on slider hover
//
// @markup
// <div class="slider ratio-16-9">
//     <ul>
//         <li><div class="slider-image" style="background-image:url('https:\/\/unsplash.it/800/800/?image=488');"><span class="text-block">Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span></div></li>
//         <li><div class="slider-image" style="background-image:url('https:\/\/unsplash.it/800/800/?image=493');"></div></li>
//         <li><div class="slider-image" style="background-image:url('https:\/\/unsplash.it/800/800/?image=976');"></div></li>
//         <li><div class="slider-image player" style="background-image:url('https:\/\/unsplash.it/800/800/?image=889');"><a href="#video-player-101935278" data-video-id="101935278"></a></div></li>
//     </ul>
// </div>
//
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 350px;
    background: #000;
    overflow: hidden;

    li {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    li.current {
        display: block;
    }

    .slider-image,
    .slider-video,
    .player {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;

        video {
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            object-fit: inherit;
        }
    }

    [class*="slider-nav-"] {
        @include center(false, true);
        z-index: 100;

        padding: .5em .8em;

        background-color: rgba(#000,.8);
        border: 0;
        apperance: none;

        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        color: #fff;

        &:hover {
            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} &:not([class*="stripe-"]) {
                        background-color: map-get($color, second);
                    }
                }
            }
        }
    }

    .slider-nav-next {
        right: 0;
        border-radius: 50px 0 0 50px;
        padding-left: 1.2em;
        cursor: pointer;
    }

    .slider-nav-previous {
        left: 0;
        border-radius: 0 50px 50px 0;
        padding-right: 1.2em;
        cursor: pointer;
    }

    .content {
        transform: translateY(-32%) !important;
    }

    .text-block {
        padding: $grid-gutter-sm ($grid-gutter-md/3)*2;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000,.7); //default
        color: #fff;
        font-size: .9em;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} &:not([class*="stripe-"]) {
                    background-color: rgba(map-get($color, second),.9);
                }
            }
        }
    }
}

.slider-nav-hover {
    [class*="slider-nav-"] {
        display: none;
    }

    &:hover {
        [class*="slider-nav-"] {
            display: block;
        }
    }
}
