.s-navbar {
    .c-nav {
        margin-top: $baseline * -2;
        margin-bottom: $baseline * -2;
    }

    .c-nav,
    .c-nav .c-nav__item {
        display: flex;
        align-items: stretch;
    }

    .c-nav .c-nav__action {
        // font-size: 16px;
        // line-height: 24px;
    }

    .c-nav .c-nav__link,
    .c-nav .c-nav__action,
    .c-brand {
        display: flex;
        align-items: center;
    }

    .widget_municipio-navigation:first-child .c-nav {
        margin-left: $baseline * -1.5;
    }

    .widget_municipio-navigation:last-child .c-nav {
        margin-right: $baseline * -1.5;
    }
}

.s-navbar .hamburger-box {
    top: -1px;
}


.s-navbar--small {
    &,
    .c-nav .c-nav__link,
    .c-nav .c-nav__action {
        font-size: 14px;
        line-height: 16px;
    }

    .c-nav {
        margin-top: $baseline * -1;
        margin-bottom: $baseline  * -1;
    }

    .c-nav .c-nav__link,
    .c-nav .c-nav__action {
        padding: $baseline * 1 $baseline * 1.5;
    }
}

.s-navbar--large {
    @include mq(md) {
        .c-nav {
            margin-top: $baseline * -3;
            margin-bottom: $baseline  * -3;
        }

        .c-nav .c-nav__link,
        .c-nav .c-nav__action {
            padding: $baseline*3 $baseline*2;
        }

        .widget_municipio-navigation:first-child .c-nav {
            margin-left: $baseline * -2;
        }

        .widget_municipio-navigation:last-child .c-nav {
            margin-right: $baseline * -2;
        }
    }
}
