.table-of-content-section {
    margin-bottom: $content-gutter * 2;
}

.table-of-content-title {
    $size: 40px;
    width: $size;
    height: $size;
    text-align: center;
    line-height: $size;
    font-size: $size - 15px;
    margin-bottom: 10px;

    background-color: $palette-red-2;
    color: #fff;
}

.table-of-content-list {

}
