$positions: static, relative, absolute, fixed, sticky;

@each $position in $positions {
  .u-position-#{$position} { position: $position !important; }
}

.u-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $level-10;
}

.u-fixed-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $level-10;
}

.u-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $level-10;
}

.u-fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $level-10;
}

.u-sticky-top {
  position: sticky;
}

.u-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
