.rounded-xs {
  border-radius: $radius-xs;
}

.rounded-sm {
  border-radius: $radius-sm;
}

.rounded-md {
  border-radius: $radius-md;
}

.rounded-lg {
  border-radius: $radius-lg;
}

.rounded-xl {
  border-radius: $radius-xl;
}

.rounded-circle {
  border-radius: 50%;
}

.u-remove-radius {
  border-radius: 0;
}
