.u-no-decoration,
.u-no-decoration:hover,
.u-no-decoration:focus {
    text-decoration: none;
}

.u-nowrap {
    white-space: nowrap;
}


.u-text-small {
    font-size: 80%;
}


.u-width-100 {
    width: 100%;
}

.u-inherit-color {
    color: inherit;
}
