// ***************************************************************
// *** 1. Box-sizing
// ***************************************************************
*,
*:after,
*:before {
    box-sizing: border-box;
}

// ***************************************************************
// *** 2. Base typography
// ***************************************************************
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-color;
}

strong,
b {
    font-weight: bold;
}

.overflow-hidden {
	overflow: hidden;
}

@if $pattern != false {
    html {
        background: #eee;
    }
    body {
        background: #fff;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 3px rgba(0,0,0,.1);
    }
}
