//
// @name Container
// @description A container with a maximum width of <code>$screen-lg-max</code>
//
// @page Layout/Container
//
// @markup
// <div class="container"></div>
//

.container {
    margin: 0 auto;
    max-width: $screen-lg-max;

    @media screen and (max-width: $screen-lg-max + 60) {
        margin: 0 30px;
    }

    @media #{$screen-sm} {
        margin: 0 20px;
    }

    @media #{$screen-xs} {
        margin: 0 10px;
    }
}
