// ***************************************************************
// *** 1. Box-sizing
// ***************************************************************
*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: $base-font-family;
}

// ***************************************************************
// *** 2. Base typography
// ***************************************************************
html, body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-color;
}
