//
// @name Hero
// @description Hero image. Typically used with the brand stripe as in the following example.
//
// @page Hero/Hero
//
// @markup
// <div class="hero" style="background-image:url('https:\/\/unsplash.it/1200/800/?image=513');">
//     <div class="stripe">
//         <div></div>
//         <div></div>
//         <div></div>
//         <div></div>
//         <div></div>
//     </div>
// </div>
//

.hero {
    position: relative;
    width: 100%;
    min-height: 350px;
    background-color: $creamy;
    background-size: cover;
    background-position: center center;
}

.hero.has-stripe {
    padding-left: 10px;

    @media #{$screen-sm-up} {
        padding-left: 15px;
    }

    @media #{$screen-md-up} {
        padding-left: 20px;
    }

    @media #{$screen-lg-up} {
        padding-left: 25px;
    }
}
