// ***************************************************************
// ***  TILE GRID
// ***************************************************************
.section-tiles .container, .section-tribute .container {
    width: auto;
}

.modularity-mod-tile-grid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-tiles {
    background-color: $creamy;

    .container {
        margin: 0;

        @media #{$screen-lg-up} {
            max-width: $screen-lg-max;
            margin: 0 auto;
        }
    }
}

//Colors
.tile-grid {
    @each $color in $palette-map {
        $total: length($palette-map);
        $i: index($palette-map, $color);

        *:nth-child(#{$total}n+#{$i}) > .tile {
            &:not(.invert) {
                background-color: $color;

                &:hover {
                    background-color: darken($color, 2%);
                }
            }

            &.invert {
                background-color: white;
                color: $color;

                &:hover {
                    color: darken($color, 2%);
                }
            }

            &.invert .content:after {
                transition: background-color 200ms;
                background-color: $color;

                &:hover {
                    background-color: darken($color, 2%);
                }
            }
        }
    }
}

.tile {
    overflow: hidden;
    position: relative;
    color: white;

    a {
        transition: background-color 200ms;
    }

    a:hover, a {
        color: inherit;
        text-decoration: none;
    }

    font-size: 120%;

    @media #{$screen-sm-up} {
        font-size: 180%;
    }

    @media #{$screen-lg-up} {
        font-size: 180%;
    }

    @media #{$screen-xl-up} {
        font-size: 220%;
    }

    h1, h2, h3, h4 {
        font-size: 1.3em;
        padding-bottom: 0;
        font-weight: 300;
        line-height: 1.2;

        @include antialias;
    }

    &.invert {
        h1, h2, h3, h4 {
            font-weight: 700;

            @media screen and #{$screen-xs} {
                font-size: 1.5em;
            }
        }
    }

    &.tile-img {
        background-size: cover;
    }

    .content {
        * + * {
            margin-top: 1em !important;
        }

        p {
            font-size: 17px;
        }
    }

    //Line
    &:not(.tile-img) {
        .content:after {
            content: '';
            width: 100%;
            height: 0.2em;
            display: block;
            background: white;
            margin-top: 0.5em;
        }
    }

    //Square/Rectangle (horizontal or vertical)
    padding-top: 100%;

    &.tile--xs-horizontal {
        padding-top: 50%;
    }

    @media screen and #{$screen-below-md} {
        &.tile--xs-vertical {
            padding-top: initial;
            a {
                position: relative;
            }
        }
    }

    @media screen and #{$screen-sm-up} {
        &.tile--sm-vertical {
            padding-top: 200%;
        }

        &.tile--sm-horizontal {
            padding-top: 50%;
        }
    }

    @media screen and #{$screen-lg-up} {
        &.tile--lg-vertical {
            padding-top: 200%;
        }

       &.tile--lg-horizontal {
            padding-top: 50%;
        }
    }

    //Tile content container
    > * {
        padding: 1em;

        @media #{$screen-sm-up} {
            padding: 1.25em;
        }

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        align-content: stretch;

        > * {
            flex-grow: 1;
        }
    }
}
