.social-feed {
    overflow: auto;
}

.mod-social-user {
    * {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    span {
        font-weight: bold;
        margin-right: 5px;
    }

    time {
        color: $gray;
    }
}

.social-feed-twitter,
.social-feed-facebook {
    li {
        padding: 15px !important;
    }

    .mod-social-story {
        margin-top: 10px;
    }

    .mod-social-attachment {
        $image-width: 20%;
        $content-width: 80%;

        @extend .clearfix;
        font-size: .9em;
        display: block;
        position: relative;
        margin-top: $content-gutter;
        padding: $content-gutter - 5;
        border: 1px solid $creamy-darker;
        background-color: $creamy;

        .mod-social-attachment-image {
            display: block;
            float: left;
            width: $image-width;
            height: auto;
        }

        .mod-social-attachment-content {
            float: left;
            width: $content-width;
            padding-left: $content-gutter;
            color: $base-font-color;

            h4 {
                color: $base-font-color !important;
                font-size: 1.1em;
            }

            p {
                margin-bottom: 5px;
            }

            .caption {
                color: $gray-dark;
                text-transform: uppercase;
                font-size: .8em;
            }
        }
    }
}

.social-feed-instagram,
.social-feed-pinterest {
    background-color: #fff;
    border: 1px solid $creamy-darker;
    border-top: 0;
    font-size: 0;

    li {
        display: inline-block;
        width: 33.3333%;
        border: 0;
        padding: 0;
    }

    .mod-social-image {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-bottom: 100% !important;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .mod-social-attachment-image {
        display: none;
    }

    .mod-social-user {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include gradient(rgba(#000, 0), rgba(#000, .8));
        color: #fff;
        font-size: .8rem;
        line-height: 1.2;
        padding: 10px;

        img {
            display: none;
        }

        time {
            color: #fff;
            display: block;
        }
    }

    .mod-social-story {
        display: none;
    }
}
