//
// @name Stripe
// @description The iconic Helsingborg brand stripe.<br><strong>ATTENTION:</strong> Do not use the gray stripe, it's only for demonstration purpose. The default behaviour of the stripe is to inherit color from the currently active color theme.
// @author Kristoffer Svanmark
//
// @state .stripe-red - Red stripe
// @state .stripe-blue - Blue stripe
// @state .stripe-green - Green stripe
// @state .stripe-pruple - Purple stripe
//
// @page Stripe
//
// @markup
// <div class="stripe">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-red">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-blue">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-green">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-purple">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//

@mixin stripe($color-1: $palette-gray-1, $color-2: $palette-gray-2, $color-3: $palette-gray-3, $color-4: $palette-gray-4, $color-5: $palette-gray-5) {
    div {
        width: 100%;
        height: (100% / 5);
    }

    div:nth-child(1) {
        background-color: $color-1;
    }

    div:nth-child(2) {
        background-color: $color-2;
    }

    div:nth-child(3) {
        background-color: $color-3;
    }

    div:nth-child(4) {
        background-color: $color-4;
    }

    div:nth-child(5) {
        background-color: $color-5;
    }
}

.stripe {
    @include stripe();
    width: 25px;
    height: 100%;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} &:not([class*="stripe-"]) {
                @include stripe(map-get($color, first), map-get($color, second), map-get($color, third), map-get($color, fourth), map-get($color, fifth));
            }
        }
    }
}

.stripe-red {
    @include stripe;
}

.stripe-blue {
    @include stripe($palette-blue-1, $palette-blue-2, $palette-blue-3, $palette-blue-4, $palette-blue-5);
}

.stripe-green {
    @include stripe($palette-green-1, $palette-green-2, $palette-green-3, $palette-green-4, $palette-green-5);
}

.stripe-purple {
    @include stripe($palette-purple-1, $palette-purple-2, $palette-purple-3, $palette-purple-4, $palette-purple-5);
}
