.box {
    @include box;
}

.box + .box {
    margin-bottom: 0;
    margin-top: $content-gutter;
}

.box-content {
    @include box-content;
}

.box-content img {
    max-width: 100%;
    height: auto;
}

.creamy .box-content {
    background-color: #fff;
}

.box-image {
    width: 100%;
}
