.box {
    @include box;
}

.box.box-plain {
    @include disable-material;
    padding: 0;
}

.box-border {
    border: 1px solid $creamy-darker;
}

.box + .box {
    margin-bottom: 0;
    margin-top: $content-gutter;
}

.box-content {
    @include box-content;
}

.box-image-container {
    position: relative;
}

.box-content img {
    max-width: 100%;
    height: auto;
}

.box-image {
    width: 100%;
    height: auto;
}

.box-card-post {
    .box-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.creamy .box:not(.box-news):not(.box-post-brick) .box-content {
    background-color: #fff;
}

[data-equal-item] .box-image-container {
    flex: 0 0 auto;
}
