//
// @name Contact Card
// @description View of a persons contactcard. Use buttons to link to profiles etc.
//
// @page Boxes/Contact
//
// @state .vertical-card - Show description on the right hand side in desktop (identical to mobile).
//
// @markup
// <div class="grid">
//     <div class="grid-md-4">
//         <span class="box box-card">
//             <img class="box-image" src="https:\/\/unsplash.it/267/267/?image=856">
//             <div class="box-content">
//                 <h5>John Doe</h5>
//                 <ul>
//						<li class="card-title">Cupcake king</li>
//						<li><a class="link-item" href="tel:+4673000000">073 00 00 00</a></li>
//						<li><a class="link-item" href="mailto:john.doe@helsingborg.se">john.dow@helsingborg.se</a></li>
//						<li class="small description">Macaroon pastry sweet pastry lollipop tootsie roll candy canes sweet roll. Candy canes lollipop cake I love. Candy canes I love ice cream caramels I love I love.</li>
//				   </ul>
//             </div>
//         </span>
//     </div>
// </div>
// <div class="grid">
//	   <div class="grid-md-12">
//         <span class="box box-card vertical-card">
//             <img class="box-image" src="https:\/\/unsplash.it/267/267/?image=832">
//             <div class="box-content">
//                 <h5>Jane Roe</h5>
//                 <ul>
//						<li class="card-title">Macaroon princess</li>
//                      <li><a class="link-item" href="tel:+4673000000">073 00 00 00</a></li>
//                      <li><a class="link-item" href="mailto:jane.roe@helsingborg.se">jane.roe@helsingborg.se</a></li>
//                      <li class="small description">Macaroon pastry sweet pastry lollipop tootsie roll candy canes sweet roll. Candy canes lollipop cake I love. Candy canes I love ice cream caramels I love I love.</li>
//                 </ul>
//             </div>
//         </span>
//     </div>
// </div>
//

.box-card {
    display: block;
    background-color: #fff;
    border: 1px solid $creamy-darker;
    color: $base-font-color;

	h1, h2, h3, h4, h5, h6 {
		padding-bottom: 0;
	}

    a[href^="mailto:"] {
        word-break: break-all;
    }

	.card-title {
		margin-bottom: $grid-gutter-sm;

        span {
            display: block;
        }
	}

	.description {
		margin-top: $grid-gutter-sm;
	}

    &.vertical-card {
	    overflow: hidden;

	    .box-image {
		    float: left;
		    width: 180px;
	    }

	    @media screen and #{$screen-md-up} {
		    .box-content {
			    margin-left: 180px;

			    ul, h1, h2, h3, h4, h5, h6 {
				    padding-left: $grid-gutter-sm;
			    }
		    }

		}

    }

    @media screen and #{$screen-below-md} {
    	.box-content {
	    	margin-left: 0;
    	}
    }
}

.box-card-post {
    position: relative;

    .box-image {
        width: 100%;
        padding-bottom: 65%;
        background-size: cover;
        background-position: center center;
        position: relative;

        .box-card-post-category {
            display: block;
            position: absolute;
            bottom: 15px;
            left: 0;
            margin-left: 0;
            margin-top: 0;
        }
    }

    .box-image img {
        display: none;
    }

    .box-content {
        color: $base-font-color;
    }

    .box-content time {
        display: block;
        margin-bottom: 10px;
    }

    &.box-card-post-equal {
        width: 100%;
        padding-bottom: 150%;
        overflow: hidden;

        @media screen and #{$screen-below-md} {
            padding-bottom: 0;
            overflow: visible;
        }

        .box-container {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px;
            width: 100%;

            @media screen and #{$screen-below-md} {
                position: static;
            }
        }
    }

    .box-card-post-category  {
        display: inline-block;
        padding: 0.1em 0.5em;
        margin-top: 10px;
        margin-left: 10px;
    }

    &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
        @include gradient(rgba(#fff, 0), rgba(#fff, 1));
    }

    &:hover {
        text-decoration: none;
        background-color: $creamy;

        &::after {
            @include gradient(rgba($creamy, 0), rgba($creamy, 1));
        }
    }
}
