//
// @name Filled
// @description Filled box. Typically used in sidebars. If used in a looping grid the filled boxes will be coloured according to the brand stripe colors.
//
// @page Boxes/Filled
//
// @state .box-filled-1 - Use the first stripe color as background-color
// @state .box-filled-2 - Use the second stripe color as background-color
// @state .box-filled-3 - Use the third stripe color as background-color
// @state .box-filled-4 - Use the fourth stripe color as background-color
// @state .box-filled-5 - Use the fifth stripe color as background-color
//
// @markup
// <div class="box box-filled-3">
//     <h4 class="box-title">Chupa chups</h4>
//     <div class="box-content">
//         <p>Candy canes donut jelly caramels chocolate cake chupa chups caramels wafer. I love tart danish croissant gummies gummi bears. Tiramisu croissant cheesecake chocolate cake.</p>
//     </div>
// </div>
//

.box-filled {
    background-color: $palette-gray-2;
    color: #fff;

    .box-title,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        padding: $content-gutter/1.5 $content-gutter/1.5 0 $content-gutter/1.5;
    }

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, second);
            }
        }
    }
}

.box-filled-1,
[class*="grid-"]:nth-child(5n + 1) .box-filled {
    @extend .box-filled;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, first);
            }
        }
    }
}

.box-filled-2,
[class*="grid-"]:nth-child(5n + 2) .box-filled {
    @extend .box-filled;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, second);
            }
        }
    }
}

.box-filled-3,
[class*="grid-"]:nth-child(5n + 3) .box-filled {
    @extend .box-filled;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, third);
            }
        }
    }
}

.box-filled-4,
[class*="grid-"]:nth-child(5n + 4) .box-filled {
    @extend .box-filled;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, fourth);
            }
        }
    }
}

.box-filled-5,
[class*="grid-"]:nth-child(5n + 5) .box-filled {
    @extend .box-filled;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, fifth);
            }
        }
    }
}
