//
// @name Contact Card
// @description View of a persons contactcard. Use buttons to link to profiles etc. 
//
// @page Boxes/Contact
//
// @state .vertical-card - Show description on the right hand side in desktop (identical to mobile).  
//
// @markup
// <div class="grid">
//     <div class="grid-md-4">
//         <span class="box box-card">
//             <img class="box-image" src="http:\/\/holder.ninja/267x267,,cb0050,fff.svg">
//             <div class="box-content">
//                 <h5>Nils Nilsson</h5>
//                 <ul>
//						<li class="card-title">Processledare</li>
//						<li><a class="link-item" href="tel:+4673000000">073 00 00 00</a></li>
//						<li><a class="link-item" href="mailto:nils.nilsson@helsingborg.se">nils.nilsson@helsingborg.se</a></li>
//						<li class="small description">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</li>
//				   </ul>
//             </div>
//         </span>
//     </div>
// </div>
// <div class="grid">
//	   <div class="grid-md-12">
//         <span class="box box-card vertical-card">
//             <img class="box-image" src="http:\/\/holder.ninja/180x160,,cb0050,fff.svg">
//             <div class="box-content">
//                 <h5>Nilselina Nilsson</h5>
//                 <ul>
//						<li class="card-title">Processledare</li>
//						<li><a class="link-item" href="tel:+4673000000">073 00 00 00</a></li>
//						<li><a class="link-item" href="mailto:nils.nilsson@helsingborg.se">nils.nilsson@helsingborg.se</a></li>
//						<li class="small description">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</li>
//				   </ul>
//             </div>
//         </span>
//     </div>
// </div>	
//

.box-card {
    display: block;
    background-color: #fff;
    border: 1px solid $creamy-darker;
    color: $base-font-color;

	h1, h2, h3, h4, h5, h6 {
		padding-bottom: 0; 
	}
	
	ul li:not(.description),
	ul li:not(.description) a {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.card-title {
		margin-bottom: $grid-gutter-sm; 
	}
	
	.description {
		margin-top: $grid-gutter-sm; 
	}

    &:hover {
        text-decoration: none;
        background-color: $creamy;
    }
    
    &.vertical-card {
	    overflow: hidden; 
	    
	    .box-image {
		    float: left; 
		    width: 180px; 
	    }
	    
	    @media screen and #{$screen-md-up} { 
	    
		    .box-content {
			    margin-left: 180px; 
			    
			    ul, h1, h2, h3, h4, h5, h6 {
				    padding-left: $grid-gutter-sm; 
			    }
		    }
	   	   
		}
	    
    }
    
    @media screen and #{$screen-below-md} { 
    	.box-image {
	    	display: none; 
    	}
    	.box-content {
	    	margin-left: 0; 
    	}
    }
}
