//
// @name Filled
// @description Filled box. Typically used in sidebars.
//
// @page Boxes/Filled
//
// @state .box-filled-1 - Use the first stripe color as background-color
// @state .box-filled-2 - Use the second stripe color as background-color
// @state .box-filled-3 - Use the third stripe color as background-color
// @state .box-filled-4 - Use the fourth stripe color as background-color
// @state .box-filled-5 - Use the fifth stripe color as background-color
//
// @markup
// <div class="box box-filled-3">
//     <div class="box-content">
//         <h4>Title</h4>
//         <p>This is a filled box. This box is typically used in the sidebar to display "widgets" or secondary information.</p>
//     </div>
// </div>
//

.box-filled {
    background-color: $palette-gray-2;
    color: #fff;

    // Color theme styles
    @each $theme, $color in $themes {
        .theme-#{$theme} & {
            background-color: map-get($color, second);
        }
    }
}

.box-filled-1 {
    @extend .box-filled;
    background-color: $palette-gray-1;

    // Color theme styles
    @each $theme, $color in $themes {
        .theme-#{$theme} & {
            background-color: map-get($color, first);
        }
    }
}

.box-filled-2 {
    @extend .box-filled;
    background-color: $palette-gray-2;

    // Color theme styles
    @each $theme, $color in $themes {
        .theme-#{$theme} & {
            background-color: map-get($color, second);
        }
    }
}

.box-filled-3 {
    @extend .box-filled;
    background-color: $palette-gray-3;

    // Color theme styles
    @each $theme, $color in $themes {
        .theme-#{$theme} & {
            background-color: map-get($color, third);
        }
    }
}

.box-filled-4 {
    @extend .box-filled;
    background-color: $palette-gray-4;

    // Color theme styles
    @each $theme, $color in $themes {
        .theme-#{$theme} & {
            background-color: map-get($color, fourth);
        }
    }
}

.box-filled-4 {
    @extend .box-filled;
    background-color: $palette-gray-5;

    // Color theme styles
    @each $theme, $color in $themes {
        .theme-#{$theme} & {
            background-color: map-get($color, fifth);
        }
    }
}
