@mixin grid($media-query-up: $screen-xs-up, $media-query: $screen-xs, $grid-size: 'xs') {
    @media #{$media-query-up} {
        @for $i from 1 to $grid-column-count + 1 {
            .grid-#{$grid-size}-#{$i} {
                display: block;
                float: left;
                width: (100% / $grid-column-count) * $i;
            }

            @if ($i < 12) {
                $nth: ($grid-column-count / $i) + 1;

                @if ($grid-size == 'xs') {
                    .grid-#{$grid-size}-#{$i}:not([class*="grid-sm-"]):not([class*="grid-md-"]):not([class*="grid-lg-"]):nth-child(#{$nth}n + #{$nth}) {
                        clear: both;
                    }
                }

                @if ($grid-size == 'sm') {
                    .grid-#{$grid-size}-#{$i}:not([class*="grid-xs-"]):not([class*="grid-md-"]):not([class*="grid-lg-"]):nth-child(#{$nth}n + #{$nth}) {
                        clear: both;
                    }
                }

                @if ($grid-size == 'md') {
                    .grid-#{$grid-size}-#{$i}:not([class*="grid-xs-"]):not([class*="grid-sm-"]):not([class*="grid-lg-"]):nth-child(#{$nth}n + #{$nth}) {
                        clear: both;
                    }
                }

                @if ($grid-size == 'lg') {
                    .grid-#{$grid-size}-#{$i}:not([class*="grid-xs-"]):not([class*="grid-sm-"]):not([class*="grid-md-"]):nth-child(#{$nth}n + #{$nth}) {
                        clear: both;
                    }
                }
            }
        }

        .grid-tester::after {
            content: $grid-size;
        }
    }
}


@mixin grid-table {
    display: table;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;

    [class*="grid-"] {
        display: table-cell;
        float: none;
    }

    &.no-padding {
        padding-left: 0;
        padding-right: 0;

        [class*="grid-"] {
            padding: 0;
        }
    }

    .grid-col-icon {
        width: 1%;
        white-space: nowrap;
        padding-right: 0;
    }
}
