.c-footer {
    padding: $spacer*2 0;
}

.c-footer.c-footer--sm {
    padding: $spacer 0;
}

.c-footer.c-footer--lg {
    padding: $spacer*4 0;
}

.c-footer.c-footer--xl {
    padding: $spacer*6 0;
}
