body:not(.s-bem-deprecated) {

    .c-navbar .c-navbar__body {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
    }

    .c-navbar {
        padding: $spacer/2 0;
    }

    .c-navbar.c-navbar--hard {
        padding: 0 0;
    }

    .c-navbar.c-navbar--lg {
        padding: $spacer/2 0;

        // @include mq(lg) {
        //     padding: $spacer 0;
        // }
    }

}




