// ***************************************************************
// *** 1. Box-sizing
// ***************************************************************
*,
*:after,
*:before {
    box-sizing: border-box;
}

// ***************************************************************
// *** 2. Base typography
// ***************************************************************
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-color;
}

strong,
b {
    font-weight: bold;
}

.overflow-hidden {
    overflow: hidden;
}

.grid-xs-12[class*="modularity-mod-"],
.grid-sm-12[class*="modularity-mod-"],
.grid-md-12[class*="modularity-mod-"],
.grid-lg-12[class*="modularity-mod-"] {
    & + .grid-xs-12[class*="modularity-mod-"],
    & + .grid-sm-12[class*="modularity-mod-"],
    & + .grid-md-12[class*="modularity-mod-"],
    & + .grid-lg-12[class*="modularity-mod-"] {
        margin-top: $grid-gutter-xs;

        @media #{$screen-sm-up} {
            margin-top: $grid-gutter-sm;
        }

        @media #{$screen-md-up} {
            margin-top: $grid-gutter-md;
        }

        @media #{$screen-lg-up} {
            margin-top: $grid-gutter-lg;
        }
    }
}
