/* Styleguide fix for optimal display */

body.section > .container {
    max-width: initial;
}

/* General */

.section {
    margin: 0;
    min-height: $grid-gutter-md*2;
    box-shadow: inset 0 0 500px rgba(0,0,0,.07);

    .module-article {
        max-width: none;

        .section-text {
            p, ul, ol, h1, h2, h3, h4, h5, h6 {
                text-shadow: 0 0 3px rgba(0,0,0,.2);
            }
        }
    }
}

/* Paralax effect */

.section.effect-parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Multiply effect */

.section.effect-multiply {
    background-blend-mode: multiply;
}

/* Coverage & vertical padding */

@media screen and #{$screen-md-up} {

    .section {

        /* Paddings */
        &.padding-sm .module-article {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }

        &.padding-md .module-article {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }

        &.padding-lg .module-article {
            padding-top: 20vh;
            padding-bottom: 20vh;
        }

        /* Heights */
        &.section-sm .module-article {
            min-height: $grid-gutter-md*2;
        }

        &.section-md .module-article {
            min-height: 40vh;
        }

        &.section-lg .module-article {
            min-height: 100vh;
        }

    }

}

/* Backgrounds */

.section {

    &.background-color-1 {
        @include btn-theme($palette-1);
    }

    &.background-color-2 {
        @include btn-theme($palette-2);
    }

    &.background-color-3 {
        @include btn-theme($palette-3);
    }

    &.background-color-4 {
        @include btn-theme($palette-4);
    }

    &.background-color-5 {
        @include btn-theme($palette-5);
    }

}

/* Font sizes */

@media screen and #{$screen-sm-up} {

    .section {

        .section-title {
            font-size: calc(1.5em + 1vw);
            max-width: none;
        }

        &.text-md {
            .section-title {
                font-size: calc(2em + 1vw);
            }
        }

        &.text-lg {
            .section-title {
                font-size: calc(2.3em + 1vw);
            }
        }

    }

}

/* Image focusing */

.section {

    $vertical-positions: top center bottom;
    $horizontal-positions: left center right;

    @each $vertical-position in $vertical-positions {
        @each $horizontal-position in $horizontal-positions {
            &.image-focus-#{$horizontal-position}-#{$vertical-position}:after,
            &.image-focus-#{$horizontal-position}-#{$vertical-position} .section-image {
                background-position: #{$horizontal-position} #{$vertical-position};
            }
        }
    }

}
