
/* General */
.section {
    margin: 0;
    min-height: $grid-gutter-md*2;
}

@media screen and #{$screen-below-md} {
    .section + .section {
        margin-top: $grid-gutter-md;
    }
}

/* Coverage & vertical padding */

@media screen and #{$screen-md-up} {

    .section {

        /* Paddings */
        &.padding-sm .module-article {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }

        &.padding-md .module-article {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }

        &.padding-lg .module-article {
            padding-top: 20vh;
            padding-bottom: 20vh;
        }

        /* Heights */
        &.section-sm .module-article {
            min-height: $grid-gutter-md*2;
        }

        &.section-md .module-article {
            min-height: 40vh;
        }

        &.section-lg .module-article {
            min-height: 100vh;
        }

    }

}

/* Font sizes */

@media screen and #{$screen-md-up} {

    .section {

        &.text-md {
            h1, h2, h3, h4, h5, h6 {
                font-size: 1.2em;
            }
            p, ol, ul {
                font-size: 1.2em;
            }
        }

        &.text-lg {
            font-size: 1.5em;
        }

    }

}
