// ***************************************************************
// *** Font family
// ***************************************************************
$base-font-family: system, "Segoe UI", Tahoma, -apple-system !default; // Using local fonts (localfont.scss)
$code-font-family: 'Fira Sans', 'Monaco', 'Consolas', 'Menlo', 'Lucida Console', 'Courier New', 'Courier', 'Console' !default; //Puhh, i think i got them all!

// ***************************************************************
// *** Font size
// ***************************************************************
$base-font-size: 1rem !default; //16px
$small-font-size: 0.875rem !default; //14px
$xs-font-size: 0.875rem !default; //14px
$large-font-size: 1.1875rem !default; //19px

$print-font-size: $small-font-size !default;

// ***************************************************************
// *** Line height
// ***************************************************************
$base-line-height: 1.5 !default;
$small-line-height: 1.14285714286 !default; //14px

// ***************************************************************
// *** Text colors
// ***************************************************************
$base-font-color: #252525 !default;
$disabled-font-color: rgba(#252525, 0.4) !default;

// ***************************************************************
// *** Content
// ***************************************************************
$content-gutter: 1rem  !default; //16px
$content-gutter-fixed: 16px  !default; //1rem

$mark-padding: 0 .125rem  !default; //2px
