//
// @name WP Widget: Calendar
// @description Wordpress built-in list-type (tags, categories, archives) functionality markup.
//
// @page Wordpress/WP Widget: Calendar
//
// @markup
//
.widget_archive,
.widget_categories {
  li {
    display: inline;
    font-size: .9em;
    &:not(:last-child):after {
      content: ", ";
    }
  }

  .tagcloud a {
    font-size: .9em !important;

    &:not(:last-child):after {
      content: ", ";
    }
  }
}
