$u-display-styles: block, inline, inline-block, flex, inline-flex, none;
$u-display-breakpoints: map-keys($breakpoints-map) !default;

@each $breakpoint in $u-display-breakpoints {
    @include mq($breakpoint) {
        $suffix: get-breakpoint-suffix($breakpoint);

        @each $display in $u-display-styles {
            .u-display-#{$display}#{$suffix} {
                display: $display !important;
            }
        }
    }
}

