$width-breakpoints: map-keys($breakpoints-map) !default;
$width-map: (
    100: 100%,
    50: 50%
) !default;

@each $screen in $width-breakpoints {
    @include mq($screen) {
        @each $width, $value in $width-map {
            $suffix: get-breakpoint-suffix($screen);
            .u-w-#{$width}#{$suffix} { width: $width !important; }
            .u-mw-#{$width}#{$suffix} { max-width: $width !important; }
        }
    }
}
