$palette-1: #acc6d3;
$palette-1-safe: #acc6d3;
$palette-1-text: #000;

$palette-2: #3e3e3f;
$palette-2-safe: #3e3e3f;
$palette-2-text: #fff;

$palette-3: #f69517;
$palette-3-safe: #f69517;
$palette-3-text: #000;

$palette-4: #3d6a98;
$palette-4-safe: #3d6a98;
$palette-4-text: #fff;

$palette-5: #9eba21;
$palette-5-safe: #9eba21;
$palette-5-text: #000;

@import '../bootstrap';
