$burgerSizeMultiplier: 0.4;

.o-burger-icon {
    display: inline-block;
    width: 60px * $burgerSizeMultiplier;
    height: 45px * $burgerSizeMultiplier;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    top: 3px;
    padding: 5px 0;
    margin-right: 5px;
    margin-left: 5px;
}

.o-burger-icon span {
    display: inline-block;
    position: absolute;
    width: 100%;
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-color: inherit;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.o-burger-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.o-burger-icon span:nth-child(2) {
    top: 18px * $burgerSizeMultiplier;
    transform-origin: left center;
}

.o-burger-icon span:nth-child(3) {
    top: 36px * $burgerSizeMultiplier;
    transform-origin: left center;
}

.o-burger-icon.is-open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.o-burger-icon.is-open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.o-burger-icon.is-open span:nth-child(3) {
    transform: rotate(-45deg);
    left: 8px;
}
