//
// @name Navigation
// @description Vertical navigation a.k.a sidebar navigation with nestled sub menu support.
// @author Kristoffer Svanmark, Sebastian Thulin
//
// @page Navigation/Sidebar navigation
//
// @state .has-children - Indicates if a menu item has children (sub menu)
// @state .current-node - Indicates the currently active parent node
// @state .current - Indicates currently active menu item
//
// @markup
// <nav>
// 	   <a href="#menu-open" id="menu-open" class="hidden-md hidden-lg menu-trigger"><span class="menu-icon"></span></a>
//     <ul class="nav-aside hidden">
//         <li><a href="#">Sweet apple pie</a></li>
//         <li class="has-children"><a href="#">Chocolate bar</a></li>
//         <li class="current-node has-children">
//             <a href="#">Marshmallow</a>
//             <ul class="sub-menu">
//                 <li><a href="#">Caramels</a></li>
//                 <li class="current"><a href="#">Sweet roll.</a></li>
//                 <li><a href="#">Ice cream</a></li>
//             </ul>
//         </li>
//         <li><a href="#">Pudding</a></li>
//     </ul>
// </nav>
//

// ***************************************************************
// *** Sidebar navigation
// ***************************************************************

.nav-aside,
.nav-mobile {
    border: 1px solid $creamy-darker;

    li {
        position: relative;
    }

    li + li {
        border-top: 1px solid $creamy-darker;
    }

    a {
        display: block;
        padding: 6px 10px;
        font-size: 1rem;
        color: $base-font-color;
        text-decoration: none;
        position: relative;

        &:hover {
            color: $palette-gray-4;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        color: map-get($color, fourth);
                    }
                }
            }
        }
    }

    // Indicates if a item has children
    .has-children {
        > a::after {
            position: absolute;
            right: 10px;
            top: 11px;
            @include hbg-icon($icon-plus-square);
            font-size: 1em;
            color: $gray-light;
        }
    }

    // Indicates currently active menu item that has children
    .has-children.current,
    .has-children.current-node,
    .has-children.current-ancestor {
        > a::after {
            position: absolute;
            right: 12px;
            top: 11px;
            @include hbg-icon($icon-caret-down);
            font-size: 1em;
            color: $gray-light;
        }
    }

    // Current

    .current {
        background-color: $creamy;
    }

    .current > a {
        color: $palette-gray-4;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    color: map-get($color, fourth);
                }
            }
        }
    }

    .sub-menu .current > a::before {
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        bottom: 0;
        width: 8px;
        display: block;
        background-color: $palette-gray-4;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, fourth);
                }
            }
        }
    }

    // Sub menu
    .sub-menu {
        border-top: 1px solid $creamy-darker;
        border-left: 8px solid $creamy-darker;
    }
}

// ***************************************************************
// *** Menu icons
// ***************************************************************

$nav-duration: 200ms;

.menu-trigger {
    height: 25px;
	cursor: hand;
	cursor: pointer;
	display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    opacity: .99;
    transition: $nav-duration/2;
    display: inline-block;

    .menu-icon::before,
    .menu-icon::after {
        transition: $nav-duration/2;
    }

    .menu-icon {
		display: inline-block;
        vertical-align: middle;
	    position: relative;
        top: -2px;
	    width: 28px;
	    height: 4px;
	    background-color: $creamy-darker;
	    transition: $nav-duration;
		border-radius: 2px;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: darken(map-get($color, fifth), 10%);
                }
            }
        }

	    &::before,
        &::after {
	        display: block;
	        content: "";
	        height: 4px;
	        width: 28px;
	        background-color: $creamy-darker;
	        position: absolute;
	        z-index: -1;
	        transition: $nav-duration $nav-duration/2;
	        border-radius: 2px;

            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: darken(map-get($color, fifth), 10%);
                    }
                }
            }
	    }

	    &:before { top: 7px;  }
	    &:after  { top: -7px; }

    }

    &:hover {
        text-decoration: none;
	    .menu-icon {
		    &:before { top: 9px;  }
			&:after  { top: -9px; }
	    }
	}

    &:target,
    &.open {
	    .menu-icon {
		    background: transparent;

	        &:before {
	            transform: rotate(-45deg);
	            top: 0 !important;
	        }

	        &:after {
	            transform: rotate(45deg);
	            top: 0 !important;
	        }
	    }
    }
}


// ***************************************************************
// *** Navigation actions
// ***************************************************************

/*
.menu-trigger:target + ul.nav-aside,
.menu-trigger:target + ul.nav-mobile,
.menu-trigger:target + div.nav-aside,
.menu-trigger:target + div.nav-mobile {
	display: block !important;
}
*/

// ***************************************************************
// *** Navigation modifiers
// ***************************************************************
.nav-justify {
    display: table;
    width: 100%;

    li {
        display: table-cell;
    }
}

.nav-horizontal {
    > li {
        display: inline-block;

        & + li {
            margin-left: 15px;
        }
    }
}
