//
// @name Modals
// @description CSS only modal box (exception for positioning).
// @author Sebastian Thulin
//
// @page Special/Modals
//
// @state .modal-backdrop-1 - Stripe color 1 as backdrop
// @state .modal-backdrop-2 - Stripe color 2 as backdrop
// @state .modal-backdrop-3 - Stripe color 3 as backdrop
// @state .modal-backdrop-4 - Stripe color 4 as backdrop
// @state .modal-backdrop-5 - Stripe color 5 as backdrop
//
// @state .modal-large - Big modal (100% width, 100vh height)
// @state .modal-medium - Medium modal (70% width)
// @state .modal-small - Small modal (50% width)
//
// @markup
// 	<a href="#modal-target">Modal!</a>
// 	<div id="modal-target" class="modal modal-backdrop-black modal-medium" tabindex="-1" role="dialog" aria-hidden="true">
//		<div class="modal-content">
//     		<div class="modal-header">
//				<a class="btn btn-close" href="#close"></a>
//         		<h2 class="modal-title">Modal title</h2>
//       	</div>
//       	<div class="modal-body">
//				<article>
//         			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
//         			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
//         			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
//         			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
//         		</article>
//			</div>
//       	<div class="modal-footer">
//         		<a href="#close" class="btn btn-default">Close</a>
//         		<button type="button" class="btn btn-primary">Save changes</button>
//       	</div>
//     	</div><!-- /.modal-content -->
//		<a href="#close" class="backdrop"></a>
// 	</div><!-- /.modal -->
//

.modal {
	@include cover();
	position: fixed;
	display: none;
	margin: 0 auto;
	opacity: 0; 
	overflow: auto; 
	z-index: $level-top; 

	/* Backdrops */
	&[class*='modal-backdrop-'] .backdrop,
	&[class^=' modal-backdrop-'] .backdrop{
		@include cover();
		position: fixed;
		content: "";
		z-index: $level-9;
		display: block;
	}

	/* Css open/close logic */
	&:target {
		opacity: 1; 
		display: block !important; 
	}
}

.modal-header {
	padding: 1em;
	border-bottom: 1px solid $creamy-darker;
	position: relative;

	h1, h2, h3, h4, h5, h6 {
		padding-bottom: 0;
	}

	.btn-close {
		position: absolute;
		top: 0;
		right: 0;
		height: 2em;
		width: 2em;
		margin: -1em;
		line-height: 2em;
		text-align: center;
		padding: 0;
		border-radius: 50%;
		border: .2em solid #fff;
		box-shadow: 0 1px 1px rgba(#000,.2);
		background: $creamy;

		&:after {
			@include cover();
			content: "\00d7";
			font-size: 1.5em;
			line-height: 1;
			color: #000;
		}

		@media screen and #{$screen-xs} {
			top: 50%;
			right: 2em;
		}
	}

}

.modal-body {
	padding: 1em;
}

.modal-footer {
	padding: 1em;
	border-top: 1px solid $creamy-darker;
}

.modal-content {
	position: relative; 
    z-index: $level-10;
	background: #fff;
    line-height: $base-line-height;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2); 
}

/* Modifiers - size */

.modal-large .modal-content {
	width: 100%;
	min-height: 100vh;
	margin: 0; 
}

.modal-large .btn-close {
	top: 43%;
	right: 2em;
}

.modal-large .modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
}

.modal-medium .modal-content {
	width: 70%;

	@media screen and #{$screen-xs} {
		width: 100%;
	}

	@media screen and #{$screen-sm} {
		width: 90%;
	}

	@media screen and #{$screen-md} {
		width: 80%;
	}
}

.modal-small .modal-content {
	width: 50%;

	@media screen and #{$screen-xs} {
		width: 100%;
	}

	@media screen and #{$screen-sm} {
		width: 70%;
	}

	@media screen and #{$screen-md} {
		width: 60%;
	}
}

/* Modifiers - color */

.modal-backdrop-1 .backdrop {
    background-color: rgba($palette-red-1,.9);
}

.modal-backdrop-1 .btn-close:after {
    color: darken($palette-red-1, 10%);
}

.modal-backdrop-2 .backdrop  {
    background-color: rgba($palette-red-2,.9);
}

.modal-backdrop-2 .btn-close:after {
    color: darken($palette-red-2, 10%);
}

.modal-backdrop-3 .backdrop  {
    background-color: rgba($palette-red-3,.9);
}

.modal-backdrop-3 .btn-close:after {
    color: darken($palette-red-3, 10%);
}

.modal-backdrop-4 .backdrop  {
    background-color: rgba($palette-red-4,.9);
}

.modal-backdrop-4 .btn-close:after {
    color: darken($palette-red-4, 10%);
}

.modal-backdrop-black .backdrop  {
    background-color: rgba(#000,.9);
}

.modal-backdrop-white .backdrop  {
    background-color: rgba(#fff,.9);
}

.modal-backdrop-white .modal-content {
	border: 1px solid $creamy-darker;
}
