.c-site-header {
    .c-site-header__panel {
        &.c-site-header__panel--primary {}
        &.c-site-header__panel--top {}
        &.c-site-header__panel--bottom {}
    }
    .c-site-header__panel_row {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;

        padding: $content-gutter $content-gutter;
    }
    .c-site-header__panel_item {}
    .c-site-header__panel_item:not(:last-child) {
        margin-right: $content-gutter * 2;
    }
    .c-site-header__panel_item {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
        flex-grow: 1;

        &.c-site-header__panel_item--left {
            justify-content: flex-start;
        }
        &.c-site-header__panel_item--right {
            justify-content: flex-end;
        }
        &.c-site-header__panel_item--center {
            justify-content: center;
        }
    }

    .c-site-header__logo {
        h1 {padding-bottom: 0;}

        img, svg {
            max-width: 18rem;
        }
    }
}

.c-navbar--header {
    .c-navbar__item {}
    .c-navbar__sub {}
    .c-navbar__sub_item {}
}
