.header-casual {
    .logotype {
        display: table;
    }

    .navbar {
        margin-top: 0;
    }
}

.search-top {
    display: none;
}

.search-top.open,
.no-js .search-top:target {
    display: block;
}
