//
// @name Comment form
// @description Standard WordPress comment form, please use the comment_form() WP function to show comment form
//

.comment-respond {
    padding: $content-gutter * 2;
    background-color: $creamy;
    border: 1px solid $creamy-darker;

    p {
        @extend .form-group;
    }

    .comment-notes {
        font-size: .8em;
        font-style: italic;
    }

    p + p {
        margin-top: $content-gutter;
    }
}

//
// @name Comments
// @description List of comments
//
// @page Blog/Comments
//
// @markup
// <ul class="comments">
//     <li class="comment">
//         <header>
//             <em>The Baker</em> <time>4 minutes ago</time>
//         </header>
//         <div class="comment-text">
//             Powder cheesecake donut tart pastry macaroon powder dragée pudding. Cupcake cake wafer chocolate bar oat cake cotton candy dessert bear claw. Liquorice oat cake dragée.
//         </div>
//     </li>
//     <li class="comment">
//         <header>
//             <em>The Baker</em> <time>8 minutes ago</time>
//         </header>
//         <div class="comment-text">
//              Donut dragée tart. Chocolate bar topping muffin dragée ice cream. Oat cake cotton candy tootsie roll muffin fruitcake biscuit ice cream jelly beans. Danish chocolate bar danish.
//         </div>
//     </li>
// </ul>
//

.comment {

    em {
        font-weight: bold;
    }

    time {
        color: $gray;
        font-size: .9em;
        margin-left: 10px;
        cursor: default;
    }

    & + .comment {
        margin-top: $content-gutter;
    }

    .comment-text {

        @include material-shadow;
        @include material-radius-medium;
        position: relative;
        padding: $content-gutter/1.5 $content-gutter;
        margin-top: 10px;
        background-color: $palette-gray-2;
        color: #fff;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, second);
                }
            }
        }

        &::before {
            display: block;
            content: '';

            position: absolute;
            top: -8px;
            left: 15px;

            @include arrow('up', 8px, $palette-gray-2);

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        @include arrow('up', 8px, map-get($color, second));
                    }
                }
            }
        }
    }

    &:nth-child(4n + 2) .comment-text {
        background-color: $palette-gray-3;
        color: #fff;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, third);
                }
            }
        }

        &::before {
            @include arrow('up', 8px, $palette-gray-3);

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        @include arrow('up', 8px, map-get($color, third));
                    }
                }
            }
        }
    }

    &:nth-child(4n + 3) .comment-text {
        background-color: $palette-gray-4;
        color: #fff;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, fourth);
                }
            }
        }

        &::before {
            @include arrow('up', 8px, $palette-gray-4);

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        @include arrow('up', 8px, map-get($color, fourth));
                    }
                }
            }
        }
    }

    &:nth-child(4n + 4) .comment-text {
        background-color: $palette-red-5;
        color: #fff;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, fifth);
                }
            }
        }

        &::before {
            @include arrow('up', 8px, $palette-gray-5);

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        @include arrow('up', 8px, map-get($color, fifth));
                    }
                }
            }
        }
    }
}
