// ***************************************************************
// *** Button font
// ***************************************************************

// Default button
$btn-font-size: .9em;
$btn-font-weight: 600;
$btn-padding: .4em 1em;

// Small button
$btn-sm-font-size: .8em;
$btn-sm-font-weight: 600;
$btn-sm-padding: .2em .5em;

// Large button
$btn-lg-font-size: 1.1em;
$btn-lg-font-weight: 600;
$btn-lg-padding: .5em .9em;
