// ***************************************************************
// *** Button font
// ***************************************************************

// Default button
$btn-font-size: .9em;
$btn-font-weight: bold;
$btn-padding: $content-gutter/2 $content-gutter;

// Small button
$btn-sm-font-size: .75em;
$btn-sm-font-weight: bold;
$btn-sm-padding: .4em .6em;

// Medium button
$btn-md-font-size: .9em;
$btn-md-font-weight: bold;
$btn-md-padding: .5em .9em;

// Large button
$btn-lg-font-size: 1.1em;
$btn-lg-font-weight: bold;
$btn-lg-padding: .5em .9em;
