$icon-link-arrow: "\f18e";
$icon-link-outbound: "\f08e";
$icon-more-plus: "\f0fe";

$icon-facebook: "\f082";
$icon-twitter: "\f081";
$icon-linkedin: "\f08c";
$icon-instagram: "\f16d";

$icon-pdf: "\f1c1";
$icon-word: "\f1c2";

$icon-plus-square: "\f0fe";
$icon-minus-square: "\f146";
$icon-caret-down: "\f0d7";

$icon-search: "\f002";

$icon-arrow-right: "\f061";
$icon-arrow-left: "\f060";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";

$icon-sort: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-asc: "\f0de";

$icon-github: "\f113";
