$includeThemes: true;

$themes: (
    red: (
        first: $palette-red-1,
        second: $palette-red-2,
        third: $palette-red-3,
        fourth: $palette-red-4,
        fifth: $palette-red-5
    ),

    blue: (
        first: $palette-blue-1,
        second: $palette-blue-2,
        third: $palette-blue-3,
        fourth: $palette-blue-4,
        fifth: $palette-blue-5
    ),

    green: (
        first: $palette-green-1,
        second: $palette-green-2,
        third: $palette-green-3,
        fourth: $palette-green-4,
        fifth: $palette-green-5
    ),

    purple: (
        first: $palette-purple-1,
        second: $palette-purple-2,
        third: $palette-purple-3,
        fourth: $palette-purple-4,
        fifth: $palette-purple-5
    )
);
