// ***************************************************************
// *** Base font
// ***************************************************************
$base-font-family: 'Roboto', 'Helvetica', 'Arial';
$base-font-size: 17px;
$base-line-height: 160%;
$base-font-color: #252525;

// ***************************************************************
// *** Code font
// ***************************************************************
$code-font-family: 'Fira Sans', 'Console', 'Roboto';

// ***************************************************************
// *** Content
// ***************************************************************
$content-gutter: 15px;
