//
// @name Button base
// @description The button base with modifiers that can be applied on all types of buttons. The <coce>.btn</code> class can be used on <code>button</code> and <code>a</code> elements.
//
// @page Buttons/Base
//
// @state :disabled - Disabled button
// @state .btn-sm - Small button
// @state .btn-lg - Large button
//
// @markup
// <button class="btn">Button base</button>
// <button class="btn disabled">Button base</button>
//

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner,
input[type="button"].btn::-moz-focus-inner {
    padding: 0;
    border: 0
}
/* End of button height fix */

.btn,
.read-more {

    @include material-radius;

    &.btn-primary {
        @include material-shadow;
    }

    appearance: none;
    display: inline-block;
    vertical-align: middle;
    padding: $btn-padding;
    background-color: $creamy-darker;
    border: 1px solid $creamy-darker;
    font-family: $base-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    color: $base-font-color;
    text-decoration: none;
    cursor: pointer;
    margin: 0;

    &:hover,
    &:focus {
        background-color: darken($creamy-darker, 3%);
        text-decoration: none;
    }

    &:active {
        box-shadow: inset 0 0 8px rgba(#000, .3);
    }

    &:disabled,
    &.disabled {
        opacity: .5;
        cursor: no-drop;

        &:active {
            box-shadow: none;
        }
    }
}

.read-more {
    display: block !important;
    text-align: center;
    color: $base-font-color !important;
    text-decoration: none !important;

    &::before {
        @include hbg-icon($icon-plus-square);
        margin-right: 7px;
    }
}

//
// @name Button: Primary
// @description Buttons
//
// @page Buttons/Primary
//
// @state :disabled - Disabled button
// @state .btn-sm - Small button
// @state .btn-lg - Large button
//
// @markup
// <button class="btn btn-primary">Primary button</button>
// <button class="btn btn-primary disabled">Primary button</button>
//

.btn.btn-primary {
    background-color: $palette-gray-3;
    color: #fff;
    border-color: $palette-gray-3;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, third);
                border-color: map-get($color, third);
                color: #fff;
            }
        }
    }

    &:hover,
    &:focus {
        background-color: darken($palette-gray-3, 3%);
        border-color: darken($palette-gray-3, 3%);

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: darken(map-get($color, third), 3%);
                    border-color: darken(map-get($color, third), 3%);
                }
            }
        }
    }
}

.btn.btn-danger {
    background-color: $danger-bg;
    border-color: $danger-bg;
    color: $danger-text;

    &:hover,
    &:focus {
        background-color: darken($danger-bg, 10%);
        border-color: darken($danger-bg, 10%);
    }
}

//
// @name Button: Plain
// @description Buttons
//
// @page Buttons/Plain
//
// @markup
// <a href="#" class="btn btn-plain">Plain button</a>
// <button class="btn btn-plain">Plain button</button>
//

.btn.btn-plain {
    background-color: transparent;
    color: $base-font-color;
    border-color: transparent;
    padding: 0;

    &:hover {
        background-color: trapsarent;
    }

    &:active {
        box-shadow: none;
    }
}

//
// @name Button: Themed buttons
// @description Buttons with color theme colors
//
// @page Buttons/Themed
//
// @state .btn-theme-first
// @state .btn-theme-second
// @state .btn-theme-third
// @state .btn-theme-fourth
// @state .btn-theme-fifth
//
// @markup
// <button class="btn btn-theme-first">First color</button>
// <button class="btn btn-theme-second">Second color</button>
// <button class="btn btn-theme-third">Third color</button>
// <button class="btn btn-theme-fourth">Fourth color</button>
// <button class="btn btn-theme-fifth">Fifth color</button>
//

@mixin btn-theme ($default, $colorNum: 'first') {
    background-color: $default;
    border-color: $default;
    color: #fff;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .theme-#{$theme} & {
                background-color: map-get($color, $colorNum);
                border-color: map-get($color, $colorNum);
            }
        }
    }

    &:hover {
        background-color: darken($palette-gray-1, 3%);
        border-color: darken($palette-gray-1, 3%);

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: darken(map-get($color, $colorNum), 3%);
                    border-color: darken(map-get($color, $colorNum), 3%);
                }
            }
        }
    }
}

.btn-theme-first {
    @include btn-theme($palette-gray-1, 'first');
}

.btn-theme-second {
    @include btn-theme($palette-gray-2, 'second');
}

.btn-theme-third {
    @include btn-theme($palette-gray-3, 'third');
}

.btn-theme-fourth {
    @include btn-theme($palette-gray-4, 'fourth');
}

.btn-theme-fifth {
    @include btn-theme($palette-gray-5, 'fifth');
}

//
// @name Button size
// @description Buttons
//
// @page Buttons/Sizes
//
// @state .btn-sm - Small button
// @state .btn-lg - Large button
//
// @markup
// <button class="btn btn-sm">Small button</button>
// <button class="btn">Default button</button>
// <button class="btn btn-lg">Large button</button>
//

.btn-sm {
    padding: $btn-sm-padding;
    font-size: $btn-sm-font-size;
    font-weight: $btn-sm-font-weight;
    line-height: 1;
}

.btn-lg {
    padding: $btn-lg-padding;
    font-size: $btn-lg-font-size;
    font-weight: $btn-lg-font-weight;
}

//
// @name Block button
// @description Block button spans the full width of the container
//
// @page Buttons/Block button
//
// @markup
// <button class="btn btn-block">Block button</button>
// <button class="btn btn-block btn-primary">Block button</button>
//

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-block-lg {
    padding: $content-gutter;
}

.btn-block + .btn-block {
    margin-top: $content-gutter;
}

.btn-icon,
button.btn-icon {
    padding: 5px 10px;
    line-height: 1;
}

//
// @name Offcanvas button
// @description Button that's outside the canvas (window) until it's focused. Mainly used for keyboard navigation shortcuts.
//
// @page Buttons/Offcanvas button
//
// @markup
// <a href="#main-content" class="btn btn-offcanvas">Jump to main content</a>
//
.btn-offcanvas {
    position: absolute;
    top: -100%;
    left: 0;

    &:focus {
        top: 0;
        z-index: $level-top;
    }

    & + .btn-offcanvas {
        margin-top: 0 !important;
    }
}
