.no-select {
    user-select: none;
}

//
// @name Disabled
// @description Prevents clicking on any element and fades it out.
//
// @page Utilities/Disabled
//
// @markup
// <div class="box box-filled-3 disabled">
//     <div class="box-content">
//         <h5>I love jelly jelly-o</h5>
//         <p>Halvah powder brownie. Brownie I love danish marshmallow I love I love cake. I love jelly jelly-o chupa chups caramels sweet roll cupcake. Danish croissant caramels jelly-o cheesecake.</p>
//     </div>
// </div>
//

.disabled {
    cursor: no-drop;

    &:not(input):not(select):not(.checkbox):not(.radio) {
        @extend .no-select;
        opacity: .7;

        * {
            pointer-events: none;
        }
    }
}
