//
// @name Margin resetters
// @description Set margins to zero
//
// @state .no-margin - Sets all margins to zero
// @state .no-margin-top - Sets top margin to zero
// @state .no-margin-right - Sets right margin to zero
// @state .no-margin-bottom - Sets bottom margin to zero
// @state .no-margin-left - Sets left margin to zero
//
// @page Utilities/Margin resetters
//

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

//
// @name Gutter
// @description Gutters any element.
//
// @page Utilities/Gutter
//
// @state .gutter - Standard gutter
// @state .gutter-sm - Smaller gutter
// @state .gutter-lg - Larger gutter
// @state .gutter-xl - Extra large gutter
// @state .gutter-top - Only gutter top
// @state .gutter-bottom - Only gutter bottom
// @state .gutter-left - Only gutter left
// @state .gutter-right - Only gutter right
//
// @state .gutter-margin - Add gutter as margin instead of padding
// @state .gutter-vertical - Only vertical gutter
// @state .gutter-horizontal - Only horizontal gutter
//
//

.gutter:not(.gutter-margin) {
    padding: $content-gutter;
}

.gutter.gutter-margin {
    margin: $content-gutter;
}

.gutter-sm:not(.gutter-margin) {
    padding: $content-gutter / 1.5;
}

.gutter-sm.gutter-margin {
    margin: $content-gutter / 1.5;
}

.gutter-lg:not(.gutter-margin) {
    padding: $content-gutter * 1.5;
}

.gutter-lg.gutter-margin {
    margin: $content-gutter * 1.5;
}

.gutter-xl:not(.gutter-margin) {
    padding: $content-gutter * 3;
}

.gutter-xl.gutter-margin {
    margin: $content-gutter * 3;
}

.gutter-vertical:not(.gutter-margin) {
    padding-right: 0;
    padding-left: 0;
}

.gutter-vertical.gutter-margin {
    margin-right: 0;
    margin-left: 0;
}

.gutter-horizontal:not(.gutter-margin) {
    padding-top: 0;
    padding-bottom: 0;
}

.gutter-horizontal.gutter-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.gutter.gutter-top {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.gutter.gutter-top.gutter-margin {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.gutter.gutter-bottom {
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
}

.gutter.gutter-bottom.gutter-margin {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
}

.gutter.gutter-left {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.gutter.gutter-left.gutter-margin {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.gutter.gutter-right {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.gutter.gutter-right.gutter-margin {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}
