.readspeaker-play-button {
    &::before {
        @include pricon($pricon-volume);
        padding-right: .3em;
    }
}

.readspeaker-player-element {
    display: none;
    margin-bottom: $content-gutter;
    height: 50px !important;

    .rsexpanded {
        display: block;
    }
}
