//
// @name Clearfix
// @description Used to clear floats.
//
// @page Layout/Clearfix
//
// @markup
// <div class="clearfix"></div>
//
.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
