//
// @name Margin resetters
// @description Set margins to zero
//
// @state .no-margin-top - Sets top margin to zero
// @state .no-margin-right - Sets right margin to zero
// @state .no-margin-bottom - Sets bottom margin to zero
// @state .no-margin-left - Sets left margin to zero
//
// @page Utilities/Margin resetters
//

.no-margin-top {
    margin-top: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}
