
	.hidden-xs {
		@media screen and #{$screen-xs} {
			display: none !important;  	
		}
	}
	
	.hidden-sm {
		@media screen and #{$screen-sm} {
			display: none !important;
		}
	}
	
	.hidden-md {
		@media screen and #{$screen-md} {
			display: none !important; 
		}
	}
	
	.hidden-lg {
		@media screen and #{$screen-lg} {
			display: none !important;
		}
	}