//
// @name Basic Table
// @description
//
// @page Tables/Basic
//
// @state .table-sm - Small table
// @state .table-lg - Large table
// @state .table-striped - Zebra striped table
// @state .table-bordered - Borders between rows
// @state .table-hover - Highlight table row on hover
//
// @markup
// <table class="table table-striped table-hover">
//     <thead>
//         <tr>
//             <th>Yummie</th>
//             <th>Much</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>Gingerbread</td>
//             <td>9</td>
//         </tr>
//         <tr>
//             <td>Jelly-o</td>
//             <td>8</td>
//         </tr>
//         <tr>
//             <td>Apple pie</td>
//             <td>10</td>
//         </tr>
//     </tbody>
//     <tfoot>
//         <tr>
//             <td colspan="3"><small>Candy canes I love muffin</small></td>
//         </tr>
//     </tfoot>
// </table>
//

.table,
.mce-item-table,
.modularity-table {

    @include material-radius;
    @include material-shadow;

    width: 100%;
    border: 1px solid $creamy-darker;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid $creamy-darker;
    }

    thead,
    tbody,
    tfoot {
        background-color: #fff;
    }

    thead + tfoot {
        border-bottom: 1px solid $creamy-darker;
    }

    tbody + tfoot {
        border-top: 1px solid $creamy-darker;
    }

    th {
        padding: $cell-padding;
        text-align: left;
        font-weight: bold;
    }

    td {
        padding: $cell-padding;
        vertical-align: middle;
    }
}

.mce-item-table {
    th, td {
        min-width: 30px;
    }
}

.table-striped {
    tbody {
        tr:nth-child(even) {
            background-color: $table-zebra-alter-color;
        }
    }
}

.table-bordered {
    thead {
        th + th {
            border-left: 1px solid $creamy-darker;
        }
    }

    tbody {
        tr + tr {
            border-top: 1px solid $creamy-darker;
        }

        td + td {
            border-left: 1px solid $creamy-darker;
        }
    }
}

.table-hover {
    tbody {
        tr:hover {
            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: lighten(map-get($color, fourth),60%);
                    }
                }
            }
        }
    }

    &.table-striped {
        tbody {
            tr:nth-child(even):hover {
                // Color theme styles
                @if ($includeThemes == true) {
                    @each $theme, $color in $themes {
                        .theme-#{$theme} & {
                            background-color: lighten(map-get($color, fourth),58%);
                        }
                    }
                }
            }
        }
    }
}

.table.table-va-top {
    th, td {
        vertical-align: top;
    }
}

.table-sm {
    font-size: .8em;

    th, td {
        padding: $cell-padding-sm;
    }
}

.table-lg {
    font-size: 1.1em;

    th, td {
        padding: $cell-padding-lg;
    }
}

.box-filled .table,
.box-filled .modularity-table {
    margin-top: 10px;
    font-size: .8em;
    border: none;
    border-top: 1px solid rgba(#fff, .3);

    * {
        border-color: rgba(#fff, .3);
    }

    tbody,
    tfoot {
        background-color: transparent;
    }

    thead {
       background-color: rgba(#fff, .2);
    }

    &.table-striped tbody tr:nth-child(2n) {
        background-color: rgba(#fff, .2);
    }

    &.table-hover {
        tbody {
            tr:hover {
                background-color: rgba(#fff, .3);
            }
        }

        &.table-striped {
            tbody {
                tr:nth-child(even):hover {
                    background-color: rgba(#fff, .3);
                }
            }
        }
    }
}
