//
// @name Basic Table
// @description
//
// @page Tables/Basic
//
// @state .table-sm - Small table
// @state .table-lg - Large table
// @state .table-striped - Zebra striped table
// @state .table-bordered - Borders between rows
// @state .table-hover - Highlight table row on hover
//
// @markup
// <table class="table-striped table-hover">
//     <thead>
//         <tr>
//             <th>Yummie</th>
//             <th>Much</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>Gingerbread</td>
//             <td>9</td>
//         </tr>
//         <tr>
//             <td>Jelly-o</td>
//             <td>8</td>
//         </tr>
//         <tr>
//             <td>Apple pie</td>
//             <td>10</td>
//         </tr>
//     </tbody>
//     <tfoot>
//         <tr>
//             <td colspan="3"><small>Candy canes I love muffin</small></td>
//         </tr>
//     </tfoot>
// </table>
//

table.table {
    width: 100%;
    border: 1px solid $creamy-darker;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid $creamy-darker;
        background-color: #fff;
    }

    tbody {
        background-color: $creamy;
    }

    tfoot {
        background-color: #fff;

        thead + & {
            border-bottom: 1px solid $creamy-darker;
        }

        tbody + & {
            border-top: 1px solid $creamy-darker;
        }
    }

    th {
        padding: $cell-padding;
        text-align: left;
        font-weight: bold;

        & + th {
            border-left: 1px solid $creamy-darker;
        }
    }

    td {
        padding: $cell-padding;
        vertical-align: middle;

        & + td {
            border-left: 1px solid $creamy-darker;
        }
    }
}

.table-striped {
    tbody {
        tr:nth-child(even) {
            background-color: $table-zebra-alter-color;
        }
    }
}

.table-bordered {
    tbody {
        tr + tr {
            border-top: 1px solid $creamy-darker;
        }
    }
}

.table-hover {
    tbody {
        tr:hover {
            // Color theme styles
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: lighten(map-get($color, fourth),60%);
                }
            }
        }
    }

    &.table-striped {
        tbody {
            tr:nth-child(even):hover {
                // Color theme styles
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: lighten(map-get($color, fourth),58%);
                    }
                }
            }
        }
    }
}

.table-sm {
    font-size: .8em;

    th, td {
        padding: $cell-padding-sm;
    }
}

.table-lg {
    font-size: 1.1em;

    th, td {
        padding: $cell-padding-lg;
    }
}
