//
// @name Article
// @description A full article with heading, lead and body text
//
// @page Typography/Article
//
// @markup
// <article>
//      <h1>Lorem ipsum</h1>
//      <p class="lead">Nulla et libero fermentum nisl tempor suscipit quis quis lacus. Sed lacus nisi, condimentum eget sem at, euismod vestibulum quam.</p>
//      <p>Integer dignissim, augue ac ornare viverra, nulla neque tincidunt ipsum, ac vulputate turpis eros scelerisque dolor. Integer at turpis quam.</p>
//      <p>Phasellus auctor malesuada diam, ac tincidunt neque venenatis eu. <a href="#">Nulla sit amet</a> erat eleifend magna tincidunt faucibus at in lorem. Quisque nisi felis, vulputate non nibh a, euismod posuere ante. Morbi nec purus sed magna sollicitudin aliquet. Aliquam pulvinar sem at sagittis ullamcorper.</p>
//      <p>Maecenas bibendum suscipit ante, at pretium risus aliquet vel. Aenean efficitur diam et dui aliquam, eu scelerisque elit luctus. Praesent luctus varius felis sit amet tincidunt. In pharetra mattis tempus. Nullam bibendum id nisi hendrerit condimentum.</p>
// </article>
//

article {

	strong,
	b {
		font-weight: bold;
	}

	p + p,
	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6,
	p + pre,
	ol + h2,
	ol + h3,
	ol + h4,
	ol + h5,
	ol + h6,
	ol + pre,
	ul + h2,
	ul + h3,
	ul + h4,
	ul + h5,
	ul + h6,
	ul + pre,
	blockquote + h2,
	blockquote + h3,
	blockquote + h4,
	blockquote + h5,
	blockquote + h6,
	blockquote + pre,
	pre + p {
		margin-top: 1em;
	}

	blockquote {
		border-left: 3px solid #ccc;
		margin-bottom: $content-gutter;
		padding: 20px 35px;
		quotes: "\201C""\201D""\2018""\2019";
	}

	blockquote:before {
		color: #ccc;
		content: open-quote;
		font-size: 2em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}

	blockquote:after {
		color: #ccc;
		content: close-quote;
		font-size: 2em;
		line-height: 0.1em;
		margin-left: 0.25em;
		vertical-align: -0.4em;
	}

	blockquote p {
		display: inline;
		margin: 0;
	}
}
